<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <h2>Welcome to Rock Paper Scissors</h2>
    <div class="buttons">
        <p><a href="/rules">Click here for rules</a></p>
        <p><a href="/play-against-player">Click here to play against another player</a></p>
        <p><a href="/play-against-computer">Click here to play against the computer</a></p>
    </div>
    <br>
</body>
</html>