<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
    <title>Play Against Computer</title>
</head>
<body>
    <div class="user-input-section">
        <h3>Play Rock Paper Scissors</h3>
        <form action="/winner-computer" method="post">
        <div class="container">
        <div class="playerinfocomputer">
        <label for="player1name">Player 1 Name: </label>
        <input type="text" name="player1name" id="player1name">
        <label for="player1choice" class="choicespacing">Rock, Paper or Scissors: </label>
        <input type="text" name="player1choice" id="player1choice">
        </div>
        </div>
        <div class="gobutton">
        <input type="submit" value="Go!" class="gobuttonstyle">
        </div>
        </form>
    </div>
</body>
</html>