<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
    <title>Player Versus Player</title>
</head>
<body>
    <div class="user-input-section">
        <h3>Play Rock Paper Scissors</h3>
        <form action="/winner" method="post">
        <div class="player-vs-player-form">
        <div class="playerinfo">
        <label for="player1-name">Player 1 Name: </label>
        <input type="text" name="player1-name" id="player1-name">
        <label for="player1-choice" class="choicespacing">Rock, Paper or Scissors: </label>
        <input type="text" name="player1-choice" id="player1-choice">
        </div>
        <div class="playerinfo">
        <label for="player2-name">Player 2 Name: </label>
        <input type="text" name="player2-name" id="player2-name">
        <label for="player2-choice" class="choicespacing">Rock, Paper or Scissors: </label>
        <input type="text" name="player2-choice" id="player2-choice">
        </div>
        </div>
        <br>
        <input type="submit" value="Go!">
        </form>
    </div>
</body>
</html>