<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{title}}</title>
</head>
<body>
    <h2>Rules for Rock Paper Scissors</h2>
    <div class="rules">
    <p>The rules are simple!</p>
    </div>
    <div class="buttons">
    <p>Rock paper scissors is played against one other person or the computer</p>
    <p>Choose Rock, Paper, or Scissors</p>
    <p>Rock beats Scissors, Scissors beats Paper, Paper beats Rock</p>
    <p>And that's it!</p>
    <p>Good Luck!</p>
    </div>
</body>
</html>